
# Makes the terminal nicer on the eyes
[color]
	ui = true

# More changes again!!!
[core]
	editor = nvim
[help]
	autoCorrect = 20

[user]
	email = sergio.vera@icloud.com
	name = Sergio Vera

[push]
	default = current
